---
layout: default
---

<div class="home">
    <h1 class="page-heading">Welcome to Tech Notes 👋</h1>

    <p>Tech notes із AWS, DevOps та підготовки до сертифікацій.</p>

    <h2>📚 Останні статті</h2>

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title }}
                </a>
            </h3>
        </li>
        {% endfor %}
    </ul>

</div>
